<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AMS</display-name>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>Servlets.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NewCustomer</servlet-name>
    <servlet-class>Servlets.NewCustomer</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BookATicket</servlet-name>
    <servlet-class>Servlets.BookATicket</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ExistingBooking</servlet-name>
    <servlet-class>Servlets.ExistingBooking</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>generateAllCustomer</servlet-name>
    <servlet-class>Servlets.ExistingBooking</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>customerInfo</servlet-name>
    <servlet-class>Servlets.ExistingBooking</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>modifyCustInfo</servlet-name>
    <servlet-class>Servlets.ExistingBooking</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>toModifyCustInfo</servlet-name>
    <servlet-class>Servlets.ExistingBooking</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>customerReservations</servlet-name>
    <servlet-class>Servlets.ExistingBooking</servlet-class>
  </servlet>  
  <servlet>
    <servlet-name>Customers</servlet-name>
    <servlet-class>Servlets.Customers</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>modDetailsTicket</servlet-name>
    <servlet-class>Servlets.ExistingBooking</servlet-class>
  </servlet>  
  <servlet>
    <servlet-name>makereservModify</servlet-name>
    <servlet-class>Servlets.ExistingBooking</servlet-class>
  </servlet> 
  <servlet>
    <servlet-name>cancelTicket</servlet-name>
    <servlet-class>Servlets.ExistingBooking</servlet-class>
  </servlet> 
  <servlet>
    <servlet-name>newEmployee</servlet-name>
    <servlet-class>Servlets.newEmployee</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>CreateNewEmp</servlet-name>
    <servlet-class>Servlets.CreateNewEmp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreateEmp</servlet-name>
    <servlet-class>Servlets.CreateEmp</servlet-class>
  </servlet> 
  <servlet>
    <servlet-name>addFlight</servlet-name>
    <servlet-class>Servlets.AdminServlet</servlet-class>
  </servlet> 
  <servlet>
    <servlet-name>ModifyFlight</servlet-name>
    <servlet-class>Servlets.ModifyFlight</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/View/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewCustomer</servlet-name>
    <url-pattern>/View/newCustomer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BookATicket</servlet-name>
    <url-pattern>/View/bookATicket</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BookATicket</servlet-name>
    <url-pattern>/View/staffHome</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BookATicket</servlet-name>
    <url-pattern>/View/flightList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExistingBooking</servlet-name>
    <url-pattern>/View/existingBookings</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>generateAllCustomer</servlet-name>
    <url-pattern>/View/generateAllCustomerList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>customerInfo</servlet-name>
    <url-pattern>/View/customerInformation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>modifyCustInfo</servlet-name>
    <url-pattern>/View/modifyCustomerInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>toModifyCustInfo</servlet-name>
    <url-pattern>/View/toModifyCustInfo</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>customerReservations</servlet-name>
    <url-pattern>/View/CustReservationInfo</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
    <servlet-name>Customers</servlet-name>
    <url-pattern>/View/customers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>modDetailsTicket</servlet-name>
    <url-pattern>/View/DisplayTicket</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>modDetailsTicket</servlet-name>
    <url-pattern>/View/CustReservationInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>makereservModify</servlet-name>
    <url-pattern>/View/sendModification</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>cancelTicket</servlet-name>
    <url-pattern>/View/CancelTicket</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>newEmployee</servlet-name>
    <url-pattern>/View/searchEmp</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>CreateEmp</servlet-name>
    <url-pattern>/View/createEmp</url-pattern>
  </servlet-mapping>

 <servlet-mapping>
    <servlet-name>CreateEmp</servlet-name>
    <url-pattern>/View/newStaff</url-pattern>
  </servlet-mapping>

<servlet-mapping>
    <servlet-name>CreateNewEmp</servlet-name>
    <url-pattern>/View/newEmploy</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addFlight</servlet-name>
    <url-pattern>/View/addNewFlight</url-pattern>
  </servlet-mapping>
 
 <servlet-mapping>
    <servlet-name>ModifyFlight</servlet-name>
    <url-pattern>/View/modifyFlight</url-pattern>
  </servlet-mapping>
  
</web-app>